<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home- Django Books</title>
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-light mt-1" style="background-color: #e3f2fd;">
          <span class="navbar-brand mb-0 h1">Books</span>
        </nav>
    
        <div class="mb-2">
            <div class="d-flex flex-row">
                <div class="p-2">
                    <img
                        src="https://books.google.com/books/content?id=rUAdRgbnyoUC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
                        width="128" alt="Front cover"></div>
                <div class="p-2">
                    <h6><b>Django</b></h6>
                    <div>Title <span class="text-muted">Steven Holzner</span></div>
                    <div>Category <span class="text-muted">Computers</span></div>
                    <div>Published on<span class="text-muted ml-1">2009</span></div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <img
                        src="https://books.google.com/books/content?id=QD1eWg9XT6sC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
                        width="128" alt="Front cover">
                </div>
                <div class="p-2">
                    <h6><b>The Music of Django Reinhardt</b></h6>
                    <div>Title <span class="text-muted">Benjamin Marx Givan</span></div>
                    <div>Category <span class="text-muted">Biography &amp; Autobiography</span></div>
                    <div>Published on<span class="text-muted ml-1">2010</span></div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <img
                        src="https://books.google.com/books/content?id=vKjWDQAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
                        width="128" alt="Front cover">
                </div>
                <div class="p-2">
                    <h6><b>Django: Web Development with Python</b></h6>
                    <div>Title <span class="text-muted">Samuel Dauzon, Aidas Bendoraitis, Arun Ravindran</span></div>
                    <div>Category <span class="text-muted">Computers</span></div>
                    <div>Published on<span class="text-muted ml-1">2016</span></div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <img
                        src="https://books.google.com/books/content?id=M9kXnUf841wC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
                        width="128" alt="Front cover">
                </div>
                <div class="p-2">
                    <h6><b>Sams Teach Yourself Django in 24 Hours</b></h6>
                    <div>Title <span class="text-muted">Brad Dayley</span></div>
                    <div>Category <span class="text-muted">Computers</span></div>
                    <div>Published on<span class="text-muted ml-1">2008</span></div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <img
                        src="https://books.google.com/books/content?id=3t8SLVloJjsC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;source=gbs_api"
                        width="128" alt="Front cover"></div>
                <div class="p-2">
                    <h6><b>Django</b></h6>
                    <div>Title <span class="text-muted">Michael Dregni</span></div>
                    <div>Category <span class="text-muted">Drama</span></div>
                    <div>Published on<span class="text-muted ml-1">2006</span></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>